force-app/main/default/flows/Voice_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>DICTATE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DICTATE</stringValue>
        </value>
    </constants>
    <constants>
        <name>GOHOME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Go Home</stringValue>
        </value>
    </constants>
    <constants>
        <name>HELP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HELP</stringValue>
        </value>
    </constants>
    <constants>
        <name>SUGGEST</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SUGGEST</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Initial_Selection</name>
        <label>Initial Selection</label>
        <locationX>273</locationX>
        <locationY>173</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Get_Suggestions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SUGGEST</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voice_Suggest_Screen</targetReference>
            </connector>
            <label>Get Suggestions</label>
        </rules>
        <rules>
            <name>Get_Help</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HELP</elementReference>
                </rightValue>
            </conditions>
            <label>Get Help</label>
        </rules>
        <rules>
            <name>Get_Input</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DICTATE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voice_Dictating_Screen</targetReference>
            </connector>
            <label>Get Input</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_Input</name>
        <label>Process Input</label>
        <locationX>550</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>Voice_Dictating_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Go_Home</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GOHOME</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voice_Main_Screen</targetReference>
            </connector>
            <label>Go Home</label>
        </rules>
    </decisions>
    <interviewLabel>Voice Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Voice Flow</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Config</name>
        <label>Lookup Config</label>
        <locationX>75</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Voice_Main_Screen</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConfigName</elementReference>
            </value>
        </filters>
        <object>VoiceConfig__c</object>
        <outputAssignments>
            <assignToReference>Config</assignToReference>
            <field>Config__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ConfigId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ConfigName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Voice_Dictating_Screen</name>
        <label>Voice Dictating Screen</label>
        <locationX>489</locationX>
        <locationY>384</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Process_Input</targetReference>
        </connector>
        <fields>
            <name>VoiceDictatingComponent</name>
            <extensionName>eadx:voiceDictating</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>config</name>
                <value>
                    <elementReference>Config</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentState</name>
                <value>
                    <elementReference>CurrentState</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CurrentState</assignToReference>
                <name>currentState</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>InputText</assignToReference>
                <name>inputText</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Config</assignToReference>
                <name>config</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Voice_Main_Screen</name>
        <label>Voice Main Screen</label>
        <locationX>260</locationX>
        <locationY>66</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Initial_Selection</targetReference>
        </connector>
        <fields>
            <name>VoiceMainComponent</name>
            <extensionName>eadx:voiceMain</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>configName</name>
                <value>
                    <elementReference>ConfigName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>config</name>
                <value>
                    <elementReference>Config</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>configId</name>
                <value>
                    <elementReference>ConfigId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentState</name>
                <value>
                    <elementReference>CurrentState</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Config</assignToReference>
                <name>config</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ConfigId</assignToReference>
                <name>configId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ConfigName</assignToReference>
                <name>configName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CurrentState</assignToReference>
                <name>currentState</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Voice_Suggest_Screen</name>
        <label>Voice Suggest Screen</label>
        <locationX>177</locationX>
        <locationY>371</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Voice_Dictating_Screen</targetReference>
        </connector>
        <fields>
            <name>VoiceSuggestComponent</name>
            <extensionName>eadx:voiceSuggest</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>config</name>
                <value>
                    <elementReference>Config</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentState</name>
                <value>
                    <elementReference>CurrentState</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Config</assignToReference>
                <name>config</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CurrentState</assignToReference>
                <name>currentState</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Lookup_Config</startElementReference>
    <status>Draft</status>
    <variables>
        <name>Config</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ConfigId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ConfigName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InputText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
